name: End-to-end tests

on:
  push:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-20.04

    env:
      MY_API_URL: ${{ secrets.MY_API_URL }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set MY_API_URL environment variable
        run: echo "MY_API_URL=${MY_API_URL}" >> $GITHUB_ENV

      - name: Cypress run
        uses: cypress-io/github-action@v4

