name: End-to-end tests

on:
  push:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-20.04

    env:
      CYPRESS_API_URL: ${{ secrets.CYPRESS_API_URL }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Debug Environment Before
        run: env
        
      - name: Set CYPRESS_API_URL environment variable
        run: echo "CYPRESS_API_URL=${CYPRESS_API_URL}" >> $GITHUB_ENV


      - name: Cypress run
        uses: cypress-io/github-action@v4


