name: End-to-end tests

on:
  push:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-20.04

    env:
      API_URL: ${{ secrets.MY_API_URL }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      

      - name: Set API_URL environment variable
        run: echo "API_URL=${API_URL}" >> $GITHUB_ENV

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          browser: chrome
