name: End-to-end tests

on:
  push:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-20.04

    steps:
      - name: Cypress run


        run:
          echo $CYPRESS_API_URL
    env:
        CYPRESS_API_URL: ${{ secrets.CYPRESS_API_URL }} 

        



